@import 'tailwindcss';

body {
  color: var(--gray-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05ch;
  color: var(--gray-800);
}

h1 {
  /* font-size: 3rem; */
  max-width: 12em;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

section {
  margin: 0 auto;
  padding-inline: var(--s1-5);
  padding-block: 6rem;
  max-width: var(--screen-lg);

  &[lg] {
    max-width: var(--screen-lg);
  }

  &[xl] {
    max-width: var(--screen-xl);
  }

  &[size='2xl'] {
    max-width: var(--screen-2xl);
  }
}

pre {
  font-size: 0.9rem;
  background-color: var(--gray-800);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  color: var(--gray-100);
}

button[primary] {
  padding: 0.25rem;
}

.prose {
  max-width: 100ch;
  text-wrap: pretty;
  line-height: 1.75;

  > * + * {
    margin-top: 1em;
  }

  > h1 {
    font-size: 1.5rem;
  }
  > h2 {
    font-size: 1.3rem;
  }
  > h3 {
    font-size: 1.2rem;
  }
  > h4 {
    font-size: 1.1rem;
  }

  blockquote {
    padding-inline-start: 1.5rem;
    position: relative;
  }

  blockquote::before {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0.2rem;
    border-radius: var(--round-full);
    background-color: var(--gray-200);
    content: '';
  }
}
